.customers
    position: relative
    min-height: 100vh
    background-color: transparent
    padding-top: 100px
    padding-bottom: 50px

    & .customersHeader
        position: absolute
        top: 10px
        left: 10px
        height: 10vh
        display: flex
        justify-content: flex-start
        align-items: center

        & p
            font-size: $mobileHeaderFontSize
            color: white
            text-transform: uppercase
            letter-spacing: 2px

        & i
            padding: 0 10px
            font-size: $mobileIconFontSize
            color: white

    & .searchCustomersPanel
        text-align: center
        margin-bottom: 20px

        & .searchCustomer
            font-size: 20px
            width: 300px
            height: 40px
            background-color: rgba(211,211,211,.8)
            border: none
            color: black
            text-align: center
            outline: none
            -webkit-border-radius: 0;
            border-radius: 0;

            &::placeholder
                color: black

    & .addCustomerBtn
        color: black
        list-style-type: none
        width: 120px
        height: 40px
        display: flex
        background-color: gainsboro
        box-shadow: 1px 1px 2px dimgray

        justify-content: center
        align-items: center
        margin: 0 auto
        font-size: 1.2em

    & .customerCards

        & h1
            color: white
            font-size: 1.7em
            padding-top: 50px
            text-align: center

        & ul
            width: 90vw
            position: relative
            display: flex
            flex-direction: column
            align-items: center
            margin: 20px auto 0 auto
            padding-top: 40px
            box-shadow: 1px 1px 2px dimgray
            background-color: rgba(211,211,211,.8)

            & p
                position: absolute
                background-color: transparent
                padding: 2.5px 10px
                top: 5px
                left: 5px
                color: navy
                font-weight: bold
                font-size: $mobileHeaderFontSize


            & li
                width: 85vw
                min-height: 40px
                display: flex
                box-shadow: 1px 1px 2px dimgray
                align-items: center
                justify-content: space-between
                background-color: gainsboro
                padding: 0 10px
                margin: 10px 0
                list-style-type: none
                font-size: 1.1em
                color: black

                &:hover
                    color: black
                    background-color: white

                    
@media (orientation: portrait) and ( max-width: 500px )
    .customers
        & .customerCards
            & ul
                & li
                    font-size: 1em
    

@media (orientation: portrait) and ( min-width: 500px ) and (max-width: 768px)
    .customers
        & .customersHeader
            & p
                font-size: 4em

            & i
                font-size: 5em


        & .customerCards

            & ul
                & p
                    top: 0
                    font-size: 2.2em


                & li
                    font-size: 1.7em

@media (orientation: portrait) and ( min-width: 769px )
    .customers
        & .customersHeader
            & p
                font-size: 4em

            & i
                font-size: 5em

        & .searchCustomersPanel
            margin-top: 50px
            text-align: center
            margin-bottom: 40px

            & .searchCustomer
                width: 550px
                height: 60px

        & .customerCards

            & ul
                & p
                    top: -5px
                    left: -5px
                    font-size: 2.5em


                & li
                    font-size: 1.9em


@media (orientation: landscape) and ( min-width: 813px ) and (max-width: 1280px)
    & .customersHeader
        & p
            font-size: 3em

            & i
                font-size: 4em
        
        & .searchCustomersPanel
            text-align: center
            margin-bottom: 20px

            & .searchCustomer
                width: 500px
                height: 60px

        & .customerCards

            & ul
                & p
                    top: 0
                    font-size: 2.2em

                & li
                    font-size: 1.9em

@media (orientation: landscape) and ( min-width: 1281px )
    .customers
        & .customersHeader
            & p
                font-size: 3em

            & i
                font-size: 4em
        
        & .searchCustomersPanel
            text-align: center
            margin-bottom: 20px

            & .searchCustomer
                width: 550px
                height: 60px

        & .customerCards

            & ul
                & p
                    top: 0
                    font-size: 2.2em


                & li
                    font-size: 2.1em

