.customerDetails
    position: relative
    min-height: 100vh
    background: linear-gradient(-45deg, rgb(150,150,150), rgb(100,100,100), rgb(50,50,50,))
    padding-bottom: 50px

    & .customerHasBeenDeleted,
    & .loadingCustomerDetailsPage
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 200px
        height: 150px
        display: flex
        justify-content: center
        align-items: center

        & p
            color: white
            fonts: 1.1em


    & .customerNameAndBackBtn
        position: absolute
        top: 10px
        left: 10px
        height: 10vh
        display: flex
        justify-content: flex-start
        align-items: center

        & p
            font-size: $mobileHeaderFontSize
            color: white
            text-transform: uppercase
            letter-spacing: 2px

        & i
            padding: 0 10px
            font-size: $mobileIconFontSize
            color: white

    & .customerDetailsHeader 
        padding-top: 10vh 
        
    & .phoneCustomer
        width: 100%
        padding: 20px 0 10px 0
        display: flex
        justify-content: center
        align-items: center

        & a
            font-size: $mobileHeaderFontSize
            color: white
            text-decoration: none
            text-transform: uppercase
            letter-spacing: 2px

        & i
            margin-right: 10px
            font-size: $mobileHeaderFontSize
            color: white

    & .btnsPanel
        padding: 10px 0
        display: flex
        justify-content: space-around
        align-items: center
        margin-bottom: 20px

        & .btn
            display: flex
            align-items: center
            justify-content: center
            padding: 5px 10px
            border: 2px solid white
            border-radius: 4px
            color: white
            font-size: 1.7em

            & span
                padding-left: 5px
                font-size: .6em

    & .customerVisits

        & .singleVisit
            position: relative
            border-top-left-radius: 4px
            border-bottom-left-radius: 4px
            border-bottom-right-radius: 4px
            width: 90vw
            border: 2px solid white
            margin: 50px auto 0 auto
            padding: 20px 0 40px 10px

            & .singleVisitHeader
                position: absolute
                display: flex
                align-items: center
                transform: translateY(-100%)
                border: 2px solid white
                padding-left: 5px
                right: -2px
                top: 0
                border-top-left-radius: 4px
                border-top-right-radius: 4px

                & p
                    font-size: 0.8em
                    color: white
                    text-transform: uppercase
                    letter-spacing: 2px

                & i
                    font-size: 1.7em
                    padding: 0 5px
                    color: white

            & .singleVisitInfo
                color: white
                font-size: 1.3em

            & .createdBy
                position: absolute
                right: 5px
                bottom: 0
                color: white

    & .noVisit
        padding: 20px
        text-align: center
        
        & h1
            color: white
            margin-bottom: 20px

        & .addFirstVisit
            border: 2px solid white
            border-radius: 4px
            background-color: transparent
            color: white
            font-size: 1.3em
            padding: 5px 10px

// @media (orientation: portrait) and ( min-width: 500px ) and (max-width: 1024px)

// @media (orientation: portrait) and ( min-width: 768px )

@media (orientation: landscape) and ( max-width: 640px )
    .customerDetails
        background: linear-gradient(-45deg, rgb(150,150,150), rgb(100,100,100), rgb(50,50,50,))

@media (orientation: landscape) and ( min-width: 641px ) and (max-width: 812px)
    .customerDetails
        background: linear-gradient(-45deg, rgb(150,150,150), rgb(100,100,100), rgb(50,50,50,))

@media (orientation: landscape) and ( min-width: 813px ) and (max-width: 1280px)
    .customerDetails
        background: linear-gradient(-45deg, rgb(150,150,150), rgb(100,100,100), rgb(50,50,50,))

        & .customerNameAndBackBtn
            & p
                font-size: 3em

            & i
                font-size: 4em
        
        & .customerDetailsHeader

        & .phoneCustomer
            width: 100%
            padding: 20px 0 10px 0
            display: flex
            justify-content: center
            align-items: center

            & a
                font-size: 2.7em

            & i
                font-size: 3em

        & .btnsPanel
            & .btn
                font-size: 2.2em

                & span
                    font-size: 0.9em
        
        & .customerVisits

            & .singleVisit

                & .singleVisitHeader
                    & p
                        font-size: 1.2em

                    & i
                        font-size: 2.2em

                & .singleVisitInfo
                    font-size: 1.7em

                & .createdBy
                    right: 10px
                    bottom: 5px

        & .noVisit
            padding: 20px
            text-align: center

            & h1
                color: white
                margin-bottom: 20px
                font-size: 3em

            & .addFirstVisit
                border: 2px solid white
                border-radius: 4px
                background-color: transparent
                color: white
                font-size: 1.5em
                padding: 5px 10px

@media (orientation: landscape) and ( min-width: 1281px )
    .customerDetails
        background: url(../img/main1920.jpg)
        background-size: center
        background-attachment: fixed

        & .customerNameAndBackBtn
            & p
                font-size: 3em

            & i
                font-size: 4em
        
        & .customerDetailsHeader

        & .phoneCustomer
            width: 100%
            padding: 20px 0 10px 0
            display: flex
            justify-content: center
            align-items: center

            & a
                font-size: 2.7em

            & i
                font-size: 3em

        & .btnsPanel
            & .btn
                font-size: 2.2em

                & span
                    font-size: 0.9em
        
        & .customerVisits

            & .singleVisit

                & .singleVisitHeader
                    & p
                        font-size: 1.2em

                    & i
                        font-size: 2.2em

                & .singleVisitInfo
                    font-size: 1.7em

                & .createdBy
                    right: 10px
                    bottom: 5px

        & .noVisit
            padding: 20px
            text-align: center

            & h1
                color: white
                margin-bottom: 20px
                font-size: 3em

            & .addFirstVisit
                border: 2px solid white
                border-radius: 4px
                background-color: transparent
                color: white
                font-size: 1.5em
                padding: 5px 10px

            
            
                


