.customerDetails
    position: relative
    min-height: 100vh
    background-color: transparent
    padding-bottom: 50px

    & .customerHasBeenDeleted,
    & .loadingCustomerDetailsPage
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 200px
        height: 150px
        display: flex
        justify-content: center
        align-items: center

        & p
            color: white
            fonts: 1.1em


    & .customerNameAndBackBtn
        position: absolute
        top: 10px
        left: 10px
        height: 10vh
        display: flex
        justify-content: flex-start
        align-items: center

        & p
            font-size: $mobileHeaderFontSize
            color: white
            text-transform: uppercase
            letter-spacing: 2px

        & button
            background-color: transparent
            border: none
            padding: 0 10px
            font-size: $mobileIconFontSize
            color: white

    & .customerDetailsHeader 
        padding-top: 10vh 
        
    & .phoneCustomer
        width: 100%
        padding: 20px 0 10px 0
        display: flex
        justify-content: center
        align-items: center

        & a
            font-size: $mobileHeaderFontSize
            color: white
            text-decoration: none
            text-transform: uppercase
            letter-spacing: 2px

        & i
            margin-right: 10px
            font-size: $mobileHeaderFontSize
            color: white

    & .btnsPanel
        padding: 10px 0
        display: flex
        justify-content: space-around
        align-items: center
        margin-bottom: 20px

        & .btn
            border: none
            outline: none
            display: flex
            align-items: center
            justify-content: center
            padding: 5px 10px
            background-color: gainsboro
            color: black
            box-shadow: 1px 1px 2px dimgray
            font-size: 1.7em

            & span
                padding-left: 5px
                font-size: .6em

    & .customerVisits

        & .singleVisit
            position: relative
            width: 90vw
            background-color: rgba(211,211,211,.8)
            margin: 50px auto 0 auto
            padding: 40px 0
            box-shadow: 1px 1px 2px dimgray

            & .singleVisitHeader
                position: absolute
                display: flex
                align-items: center
                justify-content: flex-end
                top: 5px
                right: 5px
                width: 100%

                & p
                    font-size: 1em
                    color: black
                    text-transform: uppercase
                    letter-spacing: 2px

                & button
                    background-color: transparent
                    border: none
                    font-size: 1.7em
                    padding: 0 5px
                    color: black

            & .singleVisitInfo
                padding: 5px 10px
                background-color: gainsboro
                width: 90%
                margin: 5px auto 
                color: black
                font-size: 1.2em
                box-shadow: 1px 1px 2px dimgray

            & .createdBy
                position: absolute
                right: 5px
                bottom: 5px
                color: black

    & .noVisit
        padding: 20px
        text-align: center
        
        & h1
            color: white
            margin-bottom: 20px

        & .addFirstVisit
            border: none
            background-color: gainsboro
            color: black
            box-shadow: 1px 1px 2px dimgray
            font-size: 1.3em
            padding: 5px 10px


@media (orientation: landscape) and ( min-width: 813px ) and (max-width: 1280px)
    .customerDetails
        & .customerNameAndBackBtn
            & p
                font-size: 3em

            & button
                font-size: 4em
        
        & .customerDetailsHeader

        & .phoneCustomer
            width: 100%
            padding: 20px 0 10px 0
            display: flex
            justify-content: center
            align-items: center

            & a
                font-size: 2.7em

            & i
                font-size: 3em

        & .btnsPanel
            & .btn
                font-size: 2.2em

                & span
                    font-size: 0.9em
        
        & .customerVisits

            & .singleVisit

                & .singleVisitHeader
                    & p
                        font-size: 1.2em

                    & button
                        font-size: 2.2em

                & .singleVisitInfo
                    font-size: 1.7em

                & .createdBy
                    right: 10px
                    bottom: 5px

        & .noVisit
            padding: 20px
            text-align: center

            & h1
                color: white
                margin-bottom: 20px
                font-size: 3em

            & .addFirstVisit
                border: 2px solid white
                border-radius: 4px
                background-color: transparent
                color: white
                font-size: 1.5em
                padding: 5px 10px

@media (orientation: landscape) and ( min-width: 1281px )
    .customerDetails
        & .customerNameAndBackBtn
            & p
                font-size: 3em

            & button
                font-size: 4em
        
        & .customerDetailsHeader

        & .phoneCustomer
            width: 100%
            padding: 20px 0 10px 0
            display: flex
            justify-content: center
            align-items: center

            & a
                font-size: 2.7em

            & i
                font-size: 3em

        & .btnsPanel
            & .btn
                font-size: 2.2em

                & span
                    font-size: 0.9em
        
        & .customerVisits

            & .singleVisit

                & .singleVisitHeader
                    & p
                        font-size: 1.2em

                    & button
                        font-size: 2.2em

                & .singleVisitInfo
                    font-size: 1.7em

                & .createdBy
                    right: 10px
                    bottom: 5px

        & .noVisit
            padding: 20px
            text-align: center

            & h1
                color: white
                margin-bottom: 20px
                font-size: 3em

            & .addFirstVisit
                border: 2px solid white
                border-radius: 4px
                background-color: transparent
                color: white
                font-size: 1.5em
                padding: 5px 10px

            
            
                


