.dashboard
    position: relative
    height: 100vh
    background: url(../img/mainMINI.png) no-repeat
    background-size: cover
    background-attachment: fixed
    padding-top: 20vh

    & .menuBtn
        position: absolute
        top: 10px
        right: 10px
        font-size: $mobileIconFontSize
        color: white
        cursor: pointer
        z-index: 10

    & .navbar
        padding-top: 50px
        position: fixed
        height: 100vh
        width: 300px
        top: 0
        right: -300px
        background: linear-gradient(-45deg, rgb(150,150,150), rgb(100,100,100), rgb(50,50,50,))
        transition: 300ms right cubic-bezier(0.77, 1, 0.175, 1);
        // animation: slideMenu .4s forwards     

        & .signedOutLinks,
        & .signedInLinks
            width: 100%
            display: flex
            flex-direction: column
            justify-content: flex-start
            margin-top: 20px

            & a
                padding: 10px 20px
                border-bottom: 1px solid rgba(255,255,255,.1)

                & li
                    display: flex
                    align-items: center
                    list-style-type: none
                    color: white
                    width: 100%
                    text-transform: uppercase
                    font-size: $mobileBtnFontSize

                    & i
                        font-size: 1.3em
                        padding-right: 5px
                    
    & .active
        right: 0


    & .header

        & p
            padding: 10px 0 0 20px
            color: white
            font-size: 2.2em
            text-transform: uppercase

        & p:last-child
            padding-bottom: 10px
            font-weight: bold
            font-size: 2.6em
            letter-spacing: 4px

@media (orientation: portrait) and ( min-width: 500px ) and (max-width: 768px)
    .dashboard
        & .menuBtn
            font-size: 4em
    
        & .navbar    
            & .signedOutLinks,
            & .signedInLinks
                & a
                    & li
                        font-size: 1.7em
        
        & .header
            & p
                font-size: 3.5em

            & p:last-child
                font-size: 4em

@media (orientation: portrait) and ( min-width: 769px ) and (max-width: 1024px)
    .dashboard
        & .menuBtn
            font-size: 4em
    
        & .navbar    
            & .signedOutLinks,
            & .signedInLinks
                & a
                    & li
                        font-size: 1.9em
        
        & .header
            & p
                font-size: 5em

            & p:last-child
                font-size: 5.8em


@media (orientation: landscape) and ( max-width: 640px )
    .dashboard
        background: url(../img/main640.jpg)
        background-size: cover


@media (orientation: landscape) and ( min-width: 641px ) and (max-width: 812px)
    .dashboard
        background: url(../img/main1280.jpg)
        background-size: cover

        & .menuBtn
            font-size: 3.6em

        & .navbar    
            & .signedOutLinks,
            & .signedInLinks
                & a
                    & li
                        font-size: 1.7em

        & .header
            & p
                font-size: 3em

            & p:last-child
                font-size: 3.5em

@media (orientation: landscape) and ( min-width: 813px ) and (max-width: 1280px)
    .dashboard
        background: url(../img/main1280.jpg)
        background-size: cover

        & .menuBtn
            font-size: 4em

        & .navbar    
            & .signedOutLinks,
            & .signedInLinks
                & a
                    & li
                        font-size: 1.7em

        & .header
            & p
                font-size: 4.4em

            & p:last-child
                font-size: 5em

@media (orientation: landscape) and ( min-width: 1281px )
    .dashboard
        background: url(../img/main1920.jpg)
        background-size: cover

        & .menuBtn
            font-size: 4em

        & .navbar    
            & .signedOutLinks,
            & .signedInLinks
                & a
                    & li
                        font-size: 1.7em

        & .header
            & p
                font-size: 5em

            & p:last-child
                font-size: 6em
    
