* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 100vw;
}

body:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/mountain-portrait.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.root {
  max-width: 100vw;
}

@media (orientation: landscape) and (max-width: 640px) {
  body:before {
    background: url(../img/640.jpg);
    background-size: cover;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1280px) {
  body:before {
    background: url(../img/1280.jpg);
    background-size: cover;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  body:before {
    background: url(../img/1920.jpg);
    background-size: cover;
  }
}

.dashboard {
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.dashboard .header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 50%;
}

.dashboard .header p {
  color: white;
  text-transform: uppercase;
  font-size: 38px;
  font-weight: bold;
  padding-left: 20px;
}

.dashboard .active {
  left: 0;
  opacity: 1;
}

.dashboard .signedOutLinks,
.dashboard .signedInLinks {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 100%;
  padding-bottom: 20px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .signedOutLinks li,
.dashboard .signedInLinks li {
  list-style-type: none;
  color: white;
  border: 2px solid white;
  min-width: 160px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  margin: 10px 0;
  border-radius: 25px;
  outline: none;
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 768px) {
  .dashboard .menuBtn {
    font-size: 4em;
  }
  .dashboard .navbar .signedOutLinks a li,
  .dashboard .navbar .signedInLinks a li {
    font-size: 1.7em;
  }
  .dashboard .header p {
    font-size: 3.5em;
  }
  .dashboard .header p:last-child {
    font-size: 4em;
  }
}

@media (orientation: portrait) and (min-width: 769px) and (max-width: 1024px) {
  .dashboard .menuBtn {
    font-size: 4em;
  }
  .dashboard .navbar .signedOutLinks a li,
  .dashboard .navbar .signedInLinks a li {
    font-size: 1.9em;
  }
  .dashboard .header p {
    font-size: 5em;
  }
  .dashboard .header p:last-child {
    font-size: 5.8em;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 812px) {
  .dashboard .menuBtn {
    font-size: 3.6em;
  }
  .dashboard .navbar .signedOutLinks a li,
  .dashboard .navbar .signedInLinks a li {
    font-size: 1.7em;
  }
  .dashboard .header p {
    font-size: 3em;
  }
  .dashboard .header p:last-child {
    font-size: 3.5em;
  }
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .dashboard .menuBtn {
    font-size: 4em;
  }
  .dashboard .navbar .signedOutLinks a li,
  .dashboard .navbar .signedInLinks a li {
    font-size: 1.7em;
  }
  .dashboard .header p {
    font-size: 4.4em;
  }
  .dashboard .header p:last-child {
    font-size: 5em;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .dashboard .menuBtn {
    font-size: 4em;
  }
  .dashboard .navbar .signedOutLinks a li,
  .dashboard .navbar .signedInLinks a li {
    font-size: 1.7em;
  }
  .dashboard .header p {
    font-size: 5em;
  }
  .dashboard .header p:last-child {
    font-size: 6em;
  }
}

.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background-color: transparent;
}

.signIn .signInHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signIn .signInHeader p {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.signIn .signInHeader i {
  padding: 0 10px;
  font-size: 2.5em;
  color: white;
}

.signIn .signInPanel {
  padding: 20px 0;
}

.signIn .signInPanel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signIn .signInPanel form input {
  border: none;
  width: 250px;
  height: 40px;
  background-color: rgba(211, 211, 211, 0.8);
  margin: 10px 0;
  color: black;
  text-align: center;
  font-size: 1.1em;
  outline: none;
}

.signIn .signInPanel form input::-webkit-input-placeholder {
  color: black;
}

.signIn .signInPanel form input:-ms-input-placeholder {
  color: black;
}

.signIn .signInPanel form input::-ms-input-placeholder {
  color: black;
}

.signIn .signInPanel form input::placeholder {
  color: black;
}

.signIn .signInPanel form .btn {
  margin: 10px 0 20px 0;
  border: none;
  padding: 10px 25px;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
  outline: none;
}

.signIn .signInPanel form a {
  color: white;
  text-decoration: none;
}

.signIn .signInPanel form a span {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .signIn .signInPanel form input {
    border-width: 0.5px;
    border-radius: 0;
  }
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 768px) {
  .signIn .signInHeader p {
    font-size: 4em;
  }
  .signIn .signInHeader i {
    font-size: 5em;
  }
  .signIn .signInPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .signIn .signInPanel form .btn {
    width: 150px;
    font-size: 1.7em;
  }
  .signIn .signInPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: portrait) and (min-width: 769px) and (max-width: 1024px) {
  .signIn .signInHeader p {
    font-size: 4.2em;
  }
  .signIn .signInHeader i {
    font-size: 5.2em;
  }
  .signIn .signInPanel form input {
    width: 550px;
    height: 70px;
    margin: 10px 0;
    font-size: 2.1em;
  }
  .signIn .signInPanel form .btn {
    width: 180px;
    font-size: 2em;
  }
  .signIn .signInPanel form a {
    font-size: 1.7em;
  }
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .signIn .signInHeader p {
    font-size: 3em;
  }
  .signIn .signInHeader i {
    font-size: 4em;
  }
  .signIn .signInPanel form input {
    width: 350px;
    height: 50px;
    margin: 10px 0;
    font-size: 1.7em;
  }
  .signIn .signInPanel form .btn {
    font-size: 1.5em;
    width: 150px;
  }
  .signIn .signInPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .signIn .signInHeader p {
    font-size: 3em;
  }
  .signIn .signInHeader i {
    font-size: 4em;
  }
  .signIn .signInPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .signIn .signInPanel form .btn {
    width: 190px;
    font-size: 1.7em;
  }
  .signIn .signInPanel form a {
    font-size: 1.7em;
  }
}

.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background-color: transparent;
}

.signUp .signUpHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signUp .signUpHeader p {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.signUp .signUpHeader button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 2.5em;
  color: white;
}

.signUp .signUpPanel {
  padding: 20px 0;
}

.signUp .signUpPanel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signUp .signUpPanel form input {
  width: 250px;
  height: 40px;
  background-color: rgba(211, 211, 211, 0.8);
  border: none;
  margin: 10px 0;
  color: black;
  text-align: center;
  font-size: 1.1em;
  outline: none;
}

.signUp .signUpPanel form input::-webkit-input-placeholder {
  color: black;
}

.signUp .signUpPanel form input:-ms-input-placeholder {
  color: black;
}

.signUp .signUpPanel form input::-ms-input-placeholder {
  color: black;
}

.signUp .signUpPanel form input::placeholder {
  color: black;
}

.signUp .signUpPanel form .btn {
  border: none;
  margin: 10px 0 20px 0;
  background-color: gainsboro;
  padding: 10px 25px;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
  outline: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .signUp .signUpPanel form input {
    border-width: 0.5px;
    border-radius: 0;
  }
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 768px) {
  .signUp .signUpHeader p {
    font-size: 4em;
  }
  .signUp .signUpHeader button {
    font-size: 5em;
  }
  .signUp .signUpPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .signUp .signUpPanel form .btn {
    width: 190px;
    font-size: 1.7em;
  }
  .signUp .signUpPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: portrait) and (min-width: 769px) and (max-width: 1024px) {
  .signUp .signUpHeader p {
    font-size: 4.2em;
  }
  .signUp .signUpHeader button {
    font-size: 5.2em;
  }
  .signUp .signUpPanel form input {
    width: 550px;
    height: 70px;
    margin: 10px 0;
    font-size: 2.1em;
  }
  .signUp .signUpPanel form .btn {
    width: 210px;
    font-size: 2em;
  }
  .signUp .signUpPanel form a {
    font-size: 1.7em;
  }
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .signUp .signUpHeader p {
    font-size: 3em;
  }
  .signUp .signUpHeader button {
    font-size: 4em;
  }
  .signUp .signUpPanel form input {
    width: 350px;
    height: 50px;
    margin: 10px 0;
    font-size: 1.7em;
  }
  .signUp .signUpPanel form .btn {
    font-size: 1.5em;
    width: 170px;
  }
  .signUp .signUpPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .signUp .signUpHeader p {
    font-size: 3em;
  }
  .signUp .signUpHeader button {
    font-size: 4em;
  }
  .signUp .signUpPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .signUp .signUpPanel form .btn {
    width: 210px;
    font-size: 1.7em;
  }
  .signUp .signUpPanel form a {
    font-size: 1.7em;
  }
}

.addCustomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.addCustomer .addedCustomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 13%;
  right: -250px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 250px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #323232;
  height: 110px;
}

.addCustomer .addedCustomer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1em;
}

.addCustomer .addedCustomer p a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.addCustomer .active {
  right: 0;
}

.addCustomer .addCustomerHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addCustomer .addCustomerHeader p {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.addCustomer .addCustomerHeader button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 2.5em;
  color: white;
}

.addCustomer .addCustomerPanel {
  padding: 20px 0;
}

.addCustomer .addCustomerPanel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addCustomer .addCustomerPanel form input {
  width: 250px;
  height: 40px;
  background-color: rgba(211, 211, 211, 0.8);
  border: none;
  margin: 10px 0;
  color: black;
  text-align: center;
  font-size: 1.1em;
  outline: none;
}

.addCustomer .addCustomerPanel form input::-webkit-input-placeholder {
  color: black;
}

.addCustomer .addCustomerPanel form input:-ms-input-placeholder {
  color: black;
}

.addCustomer .addCustomerPanel form input::-ms-input-placeholder {
  color: black;
}

.addCustomer .addCustomerPanel form input::placeholder {
  color: black;
}

.addCustomer .addCustomerPanel form .btn {
  border: none;
  margin: 10px 0 20px 0;
  background-color: gainsboro;
  padding: 10px 25px;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.2em;
  cursor: pointer;
  color: black;
  outline: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .addCustomer .addCustomerPanel form input {
    border-width: 0.5px;
    border-radius: 0;
  }
}

@media (orientation: portrait) and (max-width: 360px) {
  .addCustomer .addCustomerHeader p {
    font-size: 1.4em;
  }
  .addCustomer .addCustomerHeader i {
    font-size: 1.9em;
  }
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 768px) {
  .addCustomer .addCustomerHeader p {
    font-size: 4em;
  }
  .addCustomer .addCustomerHeader i {
    font-size: 5em;
  }
  .addCustomer .addCustomerPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .addCustomer .addCustomerPanel form .btn {
    width: 150px;
    font-size: 1.7em;
  }
  .addCustomer .addCustomerPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: portrait) and (min-width: 769px) and (max-width: 1024px) {
  .addCustomer .addCustomerHeader p {
    font-size: 4.2em;
  }
  .addCustomer .addCustomerHeader i {
    font-size: 5.2em;
  }
  .addCustomer .addCustomerPanel form input {
    width: 550px;
    height: 70px;
    margin: 10px 0;
    font-size: 2.1em;
  }
  .addCustomer .addCustomerPanel form .btn {
    width: 180px;
    font-size: 2em;
  }
  .addCustomer .addCustomerPanel form a {
    font-size: 1.7em;
  }
}

@media (orientation: landscape) and (min-width: 640px) and (max-width: 812px) {
  .addedCustomer {
    width: 200px;
    right: -200px;
  }
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .addCustomer .addedCustomer {
    right: -250px;
  }
  .addCustomer .active {
    right: 0;
  }
  .addCustomer .addCustomerHeader p {
    font-size: 3em;
  }
  .addCustomer .addCustomerHeader i {
    font-size: 4em;
  }
  .addCustomer .addCustomerPanel form input {
    width: 350px;
    height: 50px;
    margin: 10px 0;
    font-size: 1.7em;
  }
  .addCustomer .addCustomerPanel form .btn {
    font-size: 1.5em;
    width: 150px;
  }
  .addCustomer .addCustomerPanel form a {
    font-size: 1.3em;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .addCustomer .addedCustomer {
    width: 200px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    top: -250px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .addCustomer .active {
    top: 0;
  }
  .addCustomer .addCustomerHeader p {
    font-size: 3em;
  }
  .addCustomer .addCustomerHeader i {
    font-size: 4em;
  }
  .addCustomer .addCustomerPanel form input {
    width: 450px;
    height: 70px;
    margin: 10px 0;
    font-size: 2em;
  }
  .addCustomer .addCustomerPanel form .btn {
    width: 150px;
    font-size: 1.7em;
  }
  .addCustomer .addCustomerPanel form a {
    font-size: 1.7em;
  }
}

.customers {
  position: relative;
  min-height: 100vh;
  background-color: transparent;
  padding-top: 100px;
  padding-bottom: 50px;
}

.customers .customersHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers .customersHeader p {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customers .customersHeader i {
  padding: 0 10px;
  font-size: 2.5em;
  color: white;
}

.customers .searchCustomersPanel {
  text-align: center;
  margin-bottom: 20px;
}

.customers .searchCustomersPanel .searchCustomer {
  font-size: 20px;
  width: 300px;
  height: 40px;
  background-color: rgba(211, 211, 211, 0.8);
  border: none;
  color: black;
  text-align: center;
  outline: none;
  border-radius: 0;
}

.customers .searchCustomersPanel .searchCustomer::-webkit-input-placeholder {
  color: black;
}

.customers .searchCustomersPanel .searchCustomer:-ms-input-placeholder {
  color: black;
}

.customers .searchCustomersPanel .searchCustomer::-ms-input-placeholder {
  color: black;
}

.customers .searchCustomersPanel .searchCustomer::placeholder {
  color: black;
}

.customers .addCustomerBtn {
  color: black;
  list-style-type: none;
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 1.2em;
}

.customers .customerCards h1 {
  color: white;
  font-size: 1.7em;
  padding-top: 50px;
  text-align: center;
}

.customers .customerCards ul {
  width: 90vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0 auto;
  padding-top: 40px;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  background-color: rgba(211, 211, 211, 0.8);
}

.customers .customerCards ul p {
  position: absolute;
  background-color: transparent;
  padding: 2.5px 10px;
  top: 5px;
  left: 5px;
  color: navy;
  font-weight: bold;
  font-size: 1.7em;
}

.customers .customerCards ul li {
  width: 85vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: gainsboro;
  padding: 0 10px;
  margin: 10px 0;
  list-style-type: none;
  font-size: 1.1em;
  color: black;
}

.customers .customerCards ul li:hover {
  color: black;
  background-color: white;
}

@media (orientation: portrait) and (max-width: 500px) {
  .customers .customerCards ul li {
    font-size: 1em;
  }
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 768px) {
  .customers .customersHeader p {
    font-size: 4em;
  }
  .customers .customersHeader i {
    font-size: 5em;
  }
  .customers .customerCards ul p {
    top: 0;
    font-size: 2.2em;
  }
  .customers .customerCards ul li {
    font-size: 1.7em;
  }
}

@media (orientation: portrait) and (min-width: 769px) {
  .customers .customersHeader p {
    font-size: 4em;
  }
  .customers .customersHeader i {
    font-size: 5em;
  }
  .customers .searchCustomersPanel {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
  }
  .customers .searchCustomersPanel .searchCustomer {
    width: 550px;
    height: 60px;
  }
  .customers .customerCards ul p {
    top: -5px;
    left: -5px;
    font-size: 2.5em;
  }
  .customers .customerCards ul li {
    font-size: 1.9em;
  }
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .customersHeader p {
    font-size: 3em;
  }
  .customersHeader p i {
    font-size: 4em;
  }
  .customersHeader .searchCustomersPanel {
    text-align: center;
    margin-bottom: 20px;
  }
  .customersHeader .searchCustomersPanel .searchCustomer {
    width: 500px;
    height: 60px;
  }
  .customersHeader .customerCards ul p {
    top: 0;
    font-size: 2.2em;
  }
  .customersHeader .customerCards ul li {
    font-size: 1.9em;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .customers .customersHeader p {
    font-size: 3em;
  }
  .customers .customersHeader i {
    font-size: 4em;
  }
  .customers .searchCustomersPanel {
    text-align: center;
    margin-bottom: 20px;
  }
  .customers .searchCustomersPanel .searchCustomer {
    width: 550px;
    height: 60px;
  }
  .customers .customerCards ul p {
    top: 0;
    font-size: 2.2em;
  }
  .customers .customerCards ul li {
    font-size: 2.1em;
  }
}

.customerDetails {
  position: relative;
  min-height: 100vh;
  background-color: transparent;
  padding-bottom: 50px;
}

.customerDetails .customerHasBeenDeleted,
.customerDetails .loadingCustomerDetailsPage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customerDetails .customerHasBeenDeleted p,
.customerDetails .loadingCustomerDetailsPage p {
  color: white;
  fonts: 1.1em;
}

.customerDetails .customerNameAndBackBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customerDetails .customerNameAndBackBtn p {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customerDetails .customerNameAndBackBtn button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 2.5em;
  color: white;
}

.customerDetails .customerDetailsHeader {
  padding-top: 10vh;
}

.customerDetails .phoneCustomer {
  width: 100%;
  padding: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customerDetails .phoneCustomer a {
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customerDetails .phoneCustomer i {
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
}

.customerDetails .btnsPanel {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.customerDetails .btnsPanel .btn {
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  background-color: gainsboro;
  color: black;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.7em;
}

.customerDetails .btnsPanel .btn span {
  padding-left: 5px;
  font-size: .6em;
}

.customerDetails .customerVisits .singleVisit {
  position: relative;
  width: 90vw;
  background-color: rgba(211, 211, 211, 0.8);
  margin: 50px auto 0 auto;
  padding: 40px 0;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
}

.customerDetails .customerVisits .singleVisit .singleVisitHeader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 5px;
  right: 5px;
  width: 100%;
}

.customerDetails .customerVisits .singleVisit .singleVisitHeader p {
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customerDetails .customerVisits .singleVisit .singleVisitHeader button {
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  padding: 0 5px;
  color: black;
}

.customerDetails .customerVisits .singleVisit .singleVisitInfo {
  padding: 5px 10px;
  background-color: gainsboro;
  width: 90%;
  margin: 5px auto;
  color: black;
  font-size: 1.2em;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
}

.customerDetails .customerVisits .singleVisit .createdBy {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: black;
}

.customerDetails .noVisit {
  padding: 20px;
  text-align: center;
}

.customerDetails .noVisit h1 {
  color: white;
  margin-bottom: 20px;
}

.customerDetails .noVisit .addFirstVisit {
  border: none;
  background-color: gainsboro;
  color: black;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.3em;
  padding: 5px 10px;
}

@media (orientation: landscape) and (min-width: 813px) and (max-width: 1280px) {
  .customerDetails .customerNameAndBackBtn p {
    font-size: 3em;
  }
  .customerDetails .customerNameAndBackBtn button {
    font-size: 4em;
  }
  .customerDetails .phoneCustomer {
    width: 100%;
    padding: 20px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .customerDetails .phoneCustomer a {
    font-size: 2.7em;
  }
  .customerDetails .phoneCustomer i {
    font-size: 3em;
  }
  .customerDetails .btnsPanel .btn {
    font-size: 2.2em;
  }
  .customerDetails .btnsPanel .btn span {
    font-size: 0.9em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitHeader p {
    font-size: 1.2em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitHeader button {
    font-size: 2.2em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitInfo {
    font-size: 1.7em;
  }
  .customerDetails .customerVisits .singleVisit .createdBy {
    right: 10px;
    bottom: 5px;
  }
  .customerDetails .noVisit {
    padding: 20px;
    text-align: center;
  }
  .customerDetails .noVisit h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
  }
  .customerDetails .noVisit .addFirstVisit {
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 5px 10px;
  }
}

@media (orientation: landscape) and (min-width: 1281px) {
  .customerDetails .customerNameAndBackBtn p {
    font-size: 3em;
  }
  .customerDetails .customerNameAndBackBtn button {
    font-size: 4em;
  }
  .customerDetails .phoneCustomer {
    width: 100%;
    padding: 20px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .customerDetails .phoneCustomer a {
    font-size: 2.7em;
  }
  .customerDetails .phoneCustomer i {
    font-size: 3em;
  }
  .customerDetails .btnsPanel .btn {
    font-size: 2.2em;
  }
  .customerDetails .btnsPanel .btn span {
    font-size: 0.9em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitHeader p {
    font-size: 1.2em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitHeader button {
    font-size: 2.2em;
  }
  .customerDetails .customerVisits .singleVisit .singleVisitInfo {
    font-size: 1.7em;
  }
  .customerDetails .customerVisits .singleVisit .createdBy {
    right: 10px;
    bottom: 5px;
  }
  .customerDetails .noVisit {
    padding: 20px;
    text-align: center;
  }
  .customerDetails .noVisit h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
  }
  .customerDetails .noVisit .addFirstVisit {
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 5px 10px;
  }
}

.popUpDeleteCustomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;
  left: 0;
}

.popUpDeleteCustomer .confirmDeleteCustomer {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background-color: lightgray;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
}

.popUpDeleteCustomer .confirmDeleteCustomer h3 {
  font-size: 1.4em;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}

.popUpDeleteCustomer .confirmDeleteCustomer .btns {
  width: 100%;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUpDeleteCustomer .confirmDeleteCustomer .btns button {
  border: none;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  color: black;
  font-size: 1.4em;
  width: 120px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.popUpDeleteCustomer .confirmDeleteCustomer .btns button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (orientation: portrait) and (max-width: 767px) {
  .popUpDeleteCustomer .confirmDeleteCustomer {
    width: 300px;
    height: 140px;
    padding: 10px;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer h3 {
    font-size: 1em;
    padding: 0 0 10px 0;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer .btns {
    max-height: 60px;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer .btns button {
    font-size: 1em;
    width: 80px;
    height: 30px;
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .popUpDeleteCustomer .confirmDeleteCustomer {
    width: 300px;
    height: 140px;
    padding: 10px;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer h3 {
    font-size: 1em;
    padding-bottom: 10px;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer .btns {
    max-height: 60px;
  }
  .popUpDeleteCustomer .confirmDeleteCustomer .btns button {
    font-size: 1em;
    width: 80px;
    height: 30px;
  }
}

.addVisit_popUp {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.addVisit_popUp .color_popUp {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.addVisit_popUp .color_popUp .colorForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 150px;
  background-color: #fff;
}

.addVisit_popUp .color_popUp .colorForm .exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.addVisit_popUp .color_popUp .colorForm .colorInput {
  border: none;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  margin: 20px auto;
  padding: 0 5px;
  width: 200px;
  height: 40px;
  font-size: 1em;
  text-align: center;
  color: black;
  outline: none;
}

.addVisit_popUp .color_popUp .colorForm .colorInput::-webkit-input-placeholder {
  color: black;
}

.addVisit_popUp .color_popUp .colorForm .colorInput:-ms-input-placeholder {
  color: black;
}

.addVisit_popUp .color_popUp .colorForm .colorInput::-ms-input-placeholder {
  color: black;
}

.addVisit_popUp .color_popUp .colorForm .colorInput::placeholder {
  color: black;
}

.addVisit_popUp .color_popUp .colorForm .colorSubmit {
  border: none;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  margin-bottom: 20px;
  width: 100px;
  padding: 0 5px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

.addVisit_popUp .color_popUp .colorForm .colorSubmit:hover {
  color: white;
  background-color: black;
}

.addVisit_popUp .addVisitPanel {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #fff;
}

.addVisit_popUp .addVisitPanel .exit,
.addVisit_popUp .addVisitPanel .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.addVisit_popUp .addVisitPanel .exit:hover,
.addVisit_popUp .addVisitPanel .back:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.addVisit_popUp .addVisitPanel .back {
  left: 10px !important;
}

.addVisit_popUp .addVisitPanel .datapicker,
.addVisit_popUp .addVisitPanel .services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.addVisit_popUp .addVisitPanel .datapicker .datapickerText,
.addVisit_popUp .addVisitPanel .datapicker .servicesText,
.addVisit_popUp .addVisitPanel .services .datapickerText,
.addVisit_popUp .addVisitPanel .services .servicesText {
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
  color: black;
  font-weight: bold;
  font-size: 1.8em;
}

.addVisit_popUp .addVisitPanel .datapicker .datapickerInput,
.addVisit_popUp .addVisitPanel .services .datapickerInput {
  border: none;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  margin: 20px auto;
  width: 200px;
  height: 40px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: black;
  outline: none;
}

.addVisit_popUp .addVisitPanel .datapicker .datapickerSubmit,
.addVisit_popUp .addVisitPanel .datapicker .servicesSubmit,
.addVisit_popUp .addVisitPanel .services .datapickerSubmit,
.addVisit_popUp .addVisitPanel .services .servicesSubmit {
  border: none;
  margin-bottom: 40px;
  width: 120px;
  height: 40px;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

.addVisit_popUp .addVisitPanel .datapicker .servicesSubmit,
.addVisit_popUp .addVisitPanel .services .servicesSubmit {
  width: 160px !important;
}

.addVisit_popUp .addVisitPanel .serviceBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.addVisit_popUp .addVisitPanel .serviceBtns p {
  color: black;
  text-align: center;
}

.addVisit_popUp .addVisitPanel .serviceBtns .btn {
  border: none;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  color: black;
  cursor: pointer;
  outline: none;
}

.addVisit_popUp .addVisitPanel .serviceBtns .active {
  background-color: mediumblue;
  color: white;
}

@media (orientation: portrait) and (max-width: 767px) {
  .addVisit_popUp .color_popUp .colorForm {
    width: 300px;
  }
  .addVisit_popUp .color_popUp .colorForm .exit {
    top: 5px;
    right: 5px;
  }
  .addVisit_popUp .addVisitPanel {
    width: 300px;
    height: 300px;
  }
  .addVisit_popUp .addVisitPanel .exit,
  .addVisit_popUp .addVisitPanel .back {
    top: 5px;
    right: 5px;
  }
  .addVisit_popUp .addVisitPanel .back {
    left: 5px !important;
  }
  .addVisit_popUp .addVisitPanel .datapicker .datapickerText,
  .addVisit_popUp .addVisitPanel .services .datapickerText {
    margin-top: 40px;
  }
  .addVisit_popUp .addVisitPanel .datapicker .servicesText,
  .addVisit_popUp .addVisitPanel .services .servicesText {
    margin-top: 20px;
  }
  .addVisit_popUp .addVisitPanel .datapicker .datapickerSubmit,
  .addVisit_popUp .addVisitPanel .services .datapickerSubmit {
    margin-bottom: 40px;
  }
  .addVisit_popUp .addVisitPanel .datapicker .servicesSubmit,
  .addVisit_popUp .addVisitPanel .services .servicesSubmit {
    margin-bottom: 20px;
  }
  .addVisit_popUp .addVisitPanel .serviceBtns {
    padding: 10px;
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .addVisit_popUp .color_popUp .colorForm {
    width: 300px;
  }
  .addVisit_popUp .color_popUp .colorForm .exit {
    top: 5px;
    right: 5px;
  }
  .addVisit_popUp .addVisitPanel {
    width: 400px;
    height: 250px;
  }
  .addVisit_popUp .addVisitPanel .exit,
  .addVisit_popUp .addVisitPanel .back {
    top: 5px;
    right: 5px;
  }
  .addVisit_popUp .addVisitPanel .back {
    left: 5px !important;
  }
  .addVisit_popUp .addVisitPanel .datapicker .datapickerText,
  .addVisit_popUp .addVisitPanel .services .datapickerText {
    margin-top: 40px;
  }
  .addVisit_popUp .addVisitPanel .datapicker .servicesText,
  .addVisit_popUp .addVisitPanel .services .servicesText {
    margin-top: 20px;
  }
  .addVisit_popUp .addVisitPanel .datapicker .datapickerSubmit,
  .addVisit_popUp .addVisitPanel .services .datapickerSubmit {
    margin-bottom: 40px;
  }
  .addVisit_popUp .addVisitPanel .datapicker:hover,
  .addVisit_popUp .addVisitPanel .services:hover {
    background-color: black;
    color: white;
  }
  .addVisit_popUp .addVisitPanel .datapicker .servicesSubmit,
  .addVisit_popUp .addVisitPanel .services .servicesSubmit {
    margin-bottom: 20px;
  }
  .addVisit_popUp .addVisitPanel .datapicker:hover,
  .addVisit_popUp .addVisitPanel .services:hover {
    background-color: black;
    color: white;
  }
  .addVisit_popUp .addVisitPanel .serviceBtns {
    padding: 10px;
  }
  .addVisit_popUp .addVisitPanel .serviceBtns .btn {
    padding: 5px 10px;
  }
}

.popUpDeleteVisit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;
  left: 0;
}

.popUpDeleteVisit .confirmDeleteVisit {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background-color: lightgray;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
}

.popUpDeleteVisit .confirmDeleteVisit h3 {
  font-size: 1.4em;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}

.popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit {
  width: 100%;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit button {
  border: none;
  background-color: gainsboro;
  -webkit-box-shadow: 1px 1px 2px dimgray;
          box-shadow: 1px 1px 2px dimgray;
  color: black;
  font-size: 1.4em;
  width: 120px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (orientation: portrait) and (max-width: 767px) {
  .popUpDeleteVisit .confirmDeleteVisit {
    width: 300px;
    height: 140px;
    padding: 10px;
  }
  .popUpDeleteVisit .confirmDeleteVisit h3 {
    font-size: 1em;
    padding: 0 0 10px 0;
  }
  .popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit {
    max-height: 60px;
  }
  .popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit button {
    font-size: 1em;
    width: 80px;
    height: 30px;
  }
}

@media (orientation: landscape) and (max-width: 823px) {
  .popUpDeleteVisit .confirmDeleteVisit {
    width: 300px;
    height: 140px;
    padding: 10px;
  }
  .popUpDeleteVisit .confirmDeleteVisit h3 {
    font-size: 1em;
    padding-bottom: 10px;
  }
  .popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit {
    max-height: 60px;
  }
  .popUpDeleteVisit .confirmDeleteVisit .btnsDeleteVisit button {
    font-size: 1em;
    width: 80px;
    height: 30px;
  }
}

.authError_popUp {
  background-color: rgba(211, 211, 211, 0.8);
  position: fixed;
  top: -20%;
  width: 90vw;
}

.authError_popUp .authErrorText {
  text-align: center;
  color: darkred;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1em;
  padding: 10px 5px;
}

@media (min-width: 450px) {
  .authError_popUp {
    width: 600px;
    height: 80px;
  }
}
/*# sourceMappingURL=index.css.map */